@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@500;600&family=Coiny&family=Poppins:wght@700&family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap");



*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: "Coiny", sans-serif;
}


ul{
  list-style-type: none;
}

